/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-03-2019, 12:29:23
    Author     : Kasper Jeppesen
*/

body{
    background-image: url("/CupCakesProject/images/cupcakes4.jpg");
}
h1{
    background-color: purple;
    color: blue;

    border-bottom: 8px solid black;
    border-top: 8px solid black;

    font-size: 60px;
    text-align: center;

    margin-top: 0;
}
 form{
    background-color: brown;
    padding: 20px;
    padding-left: 50px;
    border-color: black;
    border-width: 5px;
    border-style: dashed;
    border-radius: 20px;

    width: 200px;
    position: absolute;
    top: 245px;
    left: 40%; 
}