body
{
  background-color: black; 
  background-image: url("img_girl.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

.form
{
    width: 173px; 
    height: 25px; 
    padding: 5px; 
    border: 1px solid #a1a1a1; 
    border-radius: 3px;
}