body
{
  height: 100%;
  width: 100%;
}

.top-nav{
  height: 50px;
  width: 100%;
  background-color: #007bff;
  color: #FFF;
}

.top-nav-ul{
  list-style-type: none;
  width: 100%;
}

.top-navn-li{
  display: inline-block;
}

.form
{
    width: 173px; 
    height: 25px; 
    padding: 5px; 
    border: 1px solid #a1a1a1; 
    border-radius: 3px;
}